.carousel_overlay::before {
  content: "";
  position: absolute;
  height: 180%;
  width: 80%;
  background: radial-gradient(ellipse at center, white 20%, transparent 60%);
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
}

.carousel_overlay::after {
  content: "";
  position: absolute;
  height: 180%;
  width: 80%;
  background: radial-gradient(ellipse at center, white 20%, transparent 60%);
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
