.Carousel {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 42px 80px;
  width: 780px;
  height: 480px;
  color: black;
  position: absolute;
  border-radius: 56px;
}

.slide:nth-child(1) {
  right: 0px;
  background-color: #edfce2;
}

.slide:nth-child(2) {
  right: 60px;
  background-color: #eae2fc;
}

.second_last {
  background: #000;
  z-index: 2;
}

.slide:nth-child(3) {
  right: 120px;
  background-color: #fcf6e2;
}

.slide:nth-child(4) {
  right: 180px;
  background-color: #edf2fe;
}

.active {
  z-index: 5 !important;
}

.non_active {
  top: 29px !important;
  height: 412px;
}
