.write_blog_container{
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px 100px;
  }
  
 .write_blog_container .category{
    padding: 10px;
  }
  
 .write_blog_container .editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
  }
  
 .write_blog_container .button,
 .write_blog_container .addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
 .write_blog_container .addButton {
    border-color: #1a8917;
  }
  
 .write_blog_container .add {
    display: flex;
    gap: 20px;
    background-color: white;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
  }
  
 .write_blog_container .input{
    padding: 50px 0;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
  }
  
 .write_blog_container .input::placeholder{
    color: #b3b3b1;
  }
  
 .write_blog_container .textArea {
    width: 100%;
  }
  
 .write_blog_container .publish{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 20px;
  }




  @media screen and (max-width : 1100px) {
    .write_blog_container{
      position: relative;
      display: flex;
      gap: 20px;
      flex-direction: column;
      padding: 10px 10px;
    }

    .write_blog_container .input{
      font-size: 44px;
      padding: 10px 0;
    }

    .publish{
      right: 10px !important;
    }
    
  }