# generate source-maps to use in "yarn analyze"
GENERATE_SOURCEMAP=<true | false>

# port to use for serving the application on (defaults to 3000)
PORT=<port number>

REACT_APP_ENVIRONMENT=<STAGING | PRODUCTION>

REACT_APP_PUBLIC_STRIPE_KEY_PRODUCTION=
REACT_APP_PUBLIC_STRIPE_KEY_STAGING=
