# custom
notes
src/scripts/

# dependencies
/node_modules

# testing
/coverage
codecov-report.json

# build
/build

# env
.env.development.local
.env.test.local
.env.production.local
.env
.env.local
.env.test

#framework
.vercel
.react-router

#others
.DS_Store
/.vscode
