import { ReactNode } from "react";

export default function SidebarOpener() {
  return (
    <button
      aria-hidden={isOpen}
      className="md:hidden aria-hidden:hidden px-6 py-5 border-b border-prim flex justify-between items-center"
      onClick={() => setIsOpen(true)}
    >
      <span>Active route</span>
      <Icon type="Forward" />
    </button>
  );
}
