.transition_blur::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 150%;
  background: radial-gradient(ellipse at center, #fdefd1 1px, transparent 70%);
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}
