/* Crousal */

.benefits_crousal{
    /* background-color: red; */
    /* width: 80vw; */
}

/* .benefits_crousal    .swiper-slide:first-child{
    background-color: #EDFCE2;
}

.benefits_crousal  .swiper-slide:nth-child(2){
    background-color: #EAE2FC;
}
.benefits_crousal  .swiper-slide:nth-child(3){
    background-color: #FCF6E2;
}

.benefits_crousal  .swiper-slide:last-child{
    background-color: #EDF2FE;
} */


.benefits_crousal  .swiper-slide{
    /* background: white; */
    text-align: center !important;
    padding: 20px 50px !important;
    width: 650px;
    height: 450px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    /* justify-content: center !important; */
    gap: 15px;
    border-radius: 56px !important;
    overflow: hidden !important;
    background-color: burlywood;
    /* background-color: red; */
    /* padding: 2px; */
}

.red-slide {
    scale: 1;
   }
 .yellow {
  /* scale: 1.3; */
 }


/* .benefits_crousal  .swiper-slide{

    text-align: center !important;
    padding: 20px 50px !important;
    width: 580px;
    height: 450px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
   
    gap: 15px;
    border-radius: 30px !important;
    overflow: hidden !important;
}

.red-slide {
    scale: 1;
   }
 .yellow {
  scale: 1.3;
 } */