@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 700;
  }

  body {
    font-family: var(--font-body);
    color: var(--color-navy-d4);
  }

  a {
    cursor: pointer;
    &[aria-disabled="true"] {
      pointer-events: none;
      cursor: default;
    }
  }

  button {
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
}
