/** Layer 1 components */
@layer components {
  .btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-heading);
    padding: calc(var(--spacing) * 3);
    border-radius: var(--radius-sm);
  }

  .btn-outline {
    background-color: white;
    border: 1px solid var(--color-gray-l3);
    outline-color: var(--color-gray-l2);
    &:active {
      border-color: var(--color-gray-l2);
    }
    &:disabled {
      background-color: var(--color-gray-l3);
    }
    &:hover {
      border-color: var(--color-gray-l2);
      background: var(--color-gray-l4);
    }
  }
  a.btn-outline {
    &[aria-disabled="true"] {
      background-color: var(--color-gray-l3);
    }
    &.pending {
      background-color: var(--color-gray-l3);
      pointer-events: none;
    }
  }

  .btn-blue {
    background-color: var(--color-blue-d1);
    color: var(--color-white);
    outline-color: var(--color-blue-l4);
    &:active {
      background-color: var(--color-blue-d2);
    }
    &:hover {
      background-color: var(--color-blue) /* #2d89c8 */;
    }
    &:disabled {
      background-color: var(--color-gray);
    }
  }
}
