@utility fixed-center {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility box-delay-1 {
  animation-delay: 300ms;
}

@utility box-delay-2 {
  animation-delay: 600ms;
}

@utility text-field {
  /** remove arrows from input type=number*/
  -moz-appearance: textfield;
  &:hover {
    -moz-appearance: number-input;
  }
  &:focus {
    -moz-appearance: number-input;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
