@layer utilities {
  .fixed-center {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .divide-prim {
    @apply divide-gray-l3 dark:divide-navy;
  }

  .outline-prim {
    @apply outline-gray-l3 dark:outline-navy;
  }

  .box-delay-1 {
    animation-delay: 300ms;
  }
  .box-delay-2 {
    animation-delay: 600ms;
  }

  /** remove arrows from input type=number*/
  .text-field {
    -moz-appearance: textfield;
  }
  .text-field:hover,
  .text-field:focus {
    -moz-appearance: number-input;
  }
  .text-field::-webkit-inner-spin-button,
  .text-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
