.testimonial_swiper {
  width: 92vw;
}

.testimonial_swiper .swiper-slide {
  padding-top: 40px;
}

@media screen and (min-width: 1400px) {
  .testimonial_swiper {
    max-width: 1135px;
  }
}

@media screen and (min-width: 700px) {
  .testimonial_swiper {
    width: 80vw;
  }
}
