input[type="radio"] {
  appearance: none;
  @apply bg-white-grey;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

input[type="radio"]:checked {
  @apply bg-sdg5;
  border: 3px solid theme("colors.white-grey");
}

@media screen and (min-width: 1536px) {
  input[type="radio"] {
    width: 20px;
    height: 20px;
  }

  input[type="radio"]:checked {
    border-width: 4px;
  }
}
