.recharts-cartesian-axis-tick {
  font-size: 0.7rem;
}

.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child,
.recharts-wrapper .recharts-cartesian-grid-horizontal line:nth-last-child(2) {
  stroke-opacity: 0;
}

.recharts-wrapper .recharts-cartesian-grid-horizontal line {
  stroke-dasharray: none;
}

.graph-container {
  @apply w-full;

  height: 300px;
}

@media screen and (min-width: 768px) {
  .graph-container {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .graph-container {
    height: 600px;
  }
}
