#cc-main {
  --cc-font-family: "DM Sans Variable";

  --cc-btn-primary-bg: var(--color-blue-d1);
  --cc-btn-primary-border-color: var(--color-blue-d1);
  --cc-btn-primary-hover-bg: var(--color-blue);
  --cc-btn-primary-hover-border-color: var(--color-blue);

  /** Also make toggles the same color as the button **/
  --cc-toggle-on-bg: var(--cc-btn-primary-bg);

  /** Make the buttons a bit rounder **/
  --cc-btn-border-radius: 8px;
}
