@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padded-container {
    @apply xl:container xl:mx-auto px-5 xl:px-0;
  }
}

@layer utilities {
  .line-clamp-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .aspect-square {
    aspect-ratio: 1/1;
  }

  .box-delay-1 {
    animation-delay: 300ms;
  }
  .box-delay-2 {
    animation-delay: 600ms;
  }

  .img-no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .scroll-hidden {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
  }
  .scroll-hidden::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  body {
    @apply font-body;
  }
}

.slippage-input::-webkit-outer-spin-button,
.slippage-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.slippage-input[type="number"] {
  width: 20px;
  max-width: 30px;
  -moz-appearance: textfield; /* Firefox */
}

.currency-input::-webkit-outer-spin-button,
.currency-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.currency-input[type="number"] {
  /* width: 20px;
  max-width: 30px; */
  -moz-appearance: textfield; /* Firefox */
}

.css-qc6sy-singleValue {
  color: hsl(0, 0%, 0%) !important;
}

.css-1pahdxg-control {
  box-shadow: none !important;
  border-color: rgba(153, 153, 153, var(--tw-border-opacity)) !important;
  --tw-border-opacity: 0.6;
}

#react-select-3-listbox {
  color: black !important;
}
