@import "tailwindcss";
@import "./styles/base.css";
@import "./styles/components.css";
@import "./styles/utilities.css";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-\*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-inherit: inherit;

  --color-blue-d7: #000000;
  --color-blue-d6: #03050b;
  --color-blue-d5: #0d1a38;
  --color-blue-d4: #182f65;
  --color-blue-d3: #182f65;
  --color-blue-d2: #234493;
  --color-blue-d1: #234493;
  --color-blue: #2e59c0;
  --color-blue-l1: #446ed2;
  --color-blue-l2: #6588da;
  --color-blue-l3: #86a1e2;
  --color-blue-l4: #a7bbea;
  --color-blue-l5: #b8c8ee;

  --color-green-d5: #022c22;
  --color-green-d4: #064e3b;
  --color-green-d3: #065f46;
  --color-green-d2: #047857;
  --color-green-d1: #059669;
  --color-green: #10b981;
  --color-green-l1: #34d399;
  --color-green-l2: #6ee7b7;
  --color-green-l3: #a7f3d0;
  --color-green-l4: #d1fae5;
  --color-green-l5: #ecfdf5;

  --color-gray-d5: #020617;
  --color-gray-d4: #0f172a;
  --color-gray-d3: #1e293b;
  --color-gray-d2: #334155;
  --color-gray-d1: #475569;
  --color-gray: #64748b;
  --color-gray-l1: #94a3b8;
  --color-gray-l2: #cbd5e1;
  --color-gray-l3: #e2e8f0;
  --color-gray-l4: #f1f5f9;
  --color-gray-l5: #f8fafc;
  --color-gray-l6: #fff;

  --color-red-d5: #450a0a;
  --color-red-d4: #7f1d1d;
  --color-red-d3: #991b1b;
  --color-red-d2: #b91c1c;
  --color-red-d1: #dc2626;
  --color-red: #ef4444;
  --color-red-l1: #f87171;
  --color-red-l2: #fca5a5;
  --color-red-l3: #fecaca;
  --color-red-l4: #fee2e2;
  --color-red-l5: #fef2f2;

  --color-black: #000101;

  --color-amber-d5: #451a03;
  --color-amber-d4: #78350f;
  --color-amber-d3: #92400e;
  --color-amber-d2: #b45309;
  --color-amber-d1: #d97706;
  --color-amber: #f59e0b;
  --color-amber-l1: #fbbf24;
  --color-amber-l2: #fcd34d;
  --color-amber-l3: #fde68a;
  --color-amber-l4: #fef3c7;
  --color-amber-l5: #fffbeb;

  --color-white: #ffffff;
  --color-sdg1: #e5233d;
  --color-sdg2: #dda73a;
  --color-sdg3: #4ca146;
  --color-sdg4: #c5192d;
  --color-sdg5: #ef402c;
  --color-sdg6: #27bfe6;
  --color-sdg7: #fbc412;
  --color-sdg8: #a31c44;
  --color-sdg9: #f26a2d;
  --color-sdg10: #e01483;
  --color-sdg11: #f89d2a;
  --color-sdg12: #bf8d2c;
  --color-sdg13: #407f46;
  --color-sdg14: #1f97d4;
  --color-sdg15: #59ba48;
  --color-sdg16: #126a9f;
  --color-sdg17: #13496b;
  --color-peach: #fde3d8;
  --color-lilac: #eae2fc;

  --text-2xs: 0.625rem;
  --text-3xs: 0.56rem, 0.7rem;
  --text-4_5xl: 2.625rem;

  --font-quicksand: "Lexend", serif;
  --font-gochi: Gochi Hand, cursive;

  --width-3\/4: 75%;

  --radius-4xl: 2rem;
  --radius-5xl: 3.5rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --accent-primary: var(--color-blue-d1);
  --accent-secondary: var(--color-blue-l4);
}
