@import "tailwindcss";
@import "./styles/base.css";
/* @import "./styles/components.css"; */
@import "./styles/utilities.css";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-\*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-inherit: inherit;

  --color-blue-d7: oklch(0.147 0.034 244.5);
  --color-blue-d6: oklch(0.22 0.05 243.8);
  --color-blue-d5: #112840;
  --color-blue-d4: #1a3f60;
  --color-blue-d3: #194b73;
  --color-blue-d2: #1a578a;
  --color-blue-d1: #1e6dab;
  --color-blue: #2d89c8;
  --color-blue-l1: #54a5dc;
  --color-blue-l2: #8fc4ea;
  --color-blue-l3: #c4def3;
  --color-blue-l4: #e4effa;
  --color-blue-l5: #f2f8fd;

  --color-green-d5: oklch(0.262 0.051 172.552);
  --color-green-d4: oklch(0.378 0.077 168.94);
  --color-green-d3: oklch(0.432 0.095 166.913);
  --color-green-d2: oklch(0.508 0.118 165.612);
  --color-green-d1: oklch(0.596 0.145 163.225);
  --color-green: oklch(0.696 0.17 162.48);
  --color-green-l1: oklch(0.765 0.177 163.223);
  --color-green-l2: oklch(0.845 0.143 164.978);
  --color-green-l3: oklch(0.905 0.093 164.15);
  --color-green-l4: oklch(0.95 0.052 163.051);
  --color-green-l5: oklch(0.979 0.021 166.113);
  

  --color-gray-d5: oklch(0.129 0.042 264.695);
  --color-gray-d4: oklch(0.208 0.042 265.755);
  --color-gray-d3: oklch(0.279 0.041 260.031);
  --color-gray-d2: oklch(0.372 0.044 257.287);
  --color-gray-d1: oklch(0.446 0.043 257.281);
  --color-gray: oklch(0.554 0.046 257.417);
  --color-gray-l1: oklch(0.704 0.04 256.788);
  --color-gray-l2: oklch(0.869 0.022 252.894);
  --color-gray-l3: oklch(0.929 0.013 255.508);
  --color-gray-l4: oklch(0.968 0.007 247.896);
  --color-gray-l5: oklch(0.984 0.003 247.858);
  --color-gray-l6: #fff;



  --color-red-d5: oklch(0.271 0.105 12.094);
  --color-red-d4: oklch(0.41 0.159 10.272);
  --color-red-d3: oklch(0.455 0.188 13.697);
  --color-red-d2: oklch(0.514 0.222 16.935);
  --color-red-d1: oklch(0.586 0.253 17.585);
  --color-red: oklch(0.645 0.246 16.439);
  --color-red-l1: oklch(0.712 0.194 13.428);
  --color-red-l2: oklch(0.81 0.117 11.638);
  --color-red-l3: oklch(0.892 0.058 10.001);
  --color-red-l4: oklch(0.941 0.03 12.58);
  --color-red-l5: oklch(0.969 0.015 12.422);

  --color-black: #000101;

  --color-amber-d5: oklch(0.279 0.077 45.635);
  --color-amber-d4: oklch(0.414 0.112 45.904);
  --color-amber-d3: oklch(0.473 0.137 46.201);
  --color-amber-d2: oklch(0.555 0.163 48.998);
  --color-amber-d1: oklch(0.666 0.179 58.318);
  --color-amber: oklch(0.769 0.188 70.08);
  --color-amber-l1: oklch(0.828 0.189 84.429);
  --color-amber-l2: oklch(0.879 0.169 91.605);
  --color-amber-l3: oklch(0.924 0.12 95.746);
  --color-amber-l4: oklch(0.962 0.059 95.617);
  --color-amber-l5: oklch(0.987 0.022 95.277);


  --color-white: #ffffff;
  --color-sdg1: #e5233d;
  --color-sdg2: #dda73a;
  --color-sdg3: #4ca146;
  --color-sdg4: #c5192d;
  --color-sdg5: #ef402c;
  --color-sdg6: #27bfe6;
  --color-sdg7: #fbc412;
  --color-sdg8: #a31c44;
  --color-sdg9: #f26a2d;
  --color-sdg10: #e01483;
  --color-sdg11: #f89d2a;
  --color-sdg12: #bf8d2c;
  --color-sdg13: #407f46;
  --color-sdg14: #1f97d4;
  --color-sdg15: #59ba48;
  --color-sdg16: #126a9f;
  --color-sdg17: #13496b;
  --color-peach: #fde3d8;
  --color-lilac: #eae2fc;

  --text-2xs: 0.625rem;
  --text-3xs: 0.56rem, 0.7rem;
  --text-4_5xl: 2.625rem;

  --font-heading: Quicksand Variable, serif;
  --font-body: DM Sans Variable, sans-serif;
  --font-gochi: Gochi Hand, cursive;

  --width-3\/4: 75%;

  --radius-4xl: 2rem;
  --radius-5xl: 3.5rem;

  @keyframes translate-rtl {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --accent-primary: var(--color-blue-d1);
  --accent-secondary: var(--color-blue-l4);
}
